*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
.main{
    width: 100%;
    background: linear-gradient(  to top, rgba(5, 5, 5, 0.5)50%, rgba(7, 7, 7, 0.5)50%), url(images/istock-1081869336-1000x667.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: blue;
    position: sticky; 
    top: 0;

}

.img1{
    width: 50px;
    float: left;
    height: 70px;
    margin-left: 0;
}
.icon{
    width: 400px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(255, 187, 0);
    font-size: 20px;
    font-family: Arial;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
    
}

.menu{
    width: 700px;
    float: right;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(224, 171, 25);
    font-family : Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    text-align: center;
    font-size: 18px;
}

ul li a:hover{
    color: rgb(255, 217, 0);
}


ul li a::after {
    content: '';
    color: white;
    width: 100px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
    
}

ul li a:hover ::after{
    transform: scaleX(1);
}


.content{
    width: 1200px;
    height: auto;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    margin-left: 50px;
   
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}



.content h1{
    font-family: 'Times New Roman';
    font-size: 70px;
    padding-left: 10px;
    margin-top: 9%;
    letter-spacing: 2px;
}


h2{
    width: 1200px;
    position: relative;
    text-align: center; 
    font-size: 45px;
    margin-left: 50px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.registration-section {
    text-align: center;
    padding: 50px;
    background-color: rgb(255, 255, 255);
  }
  

  #TheCourses {
    padding: 50px;
    display:flex;
    justify-content: center;
    text-align: left;
        
  }
  

  .aCourse h2{
    font-weight: bold;
    text-align: left;
    position: absolute;
    font-size: 3.2rem;
    line-height: 1.1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    box-sizing: border-box;
    color:white;
        
  }
  
  
  
 
  .aCourse p{
    font-weight: 400;
    font-style: normal;
    text-align: left;
    margin-top: 200px;
    font-size: 1.2rem;
    font-family: arial;
    line-height: 1.5;
    margin-left: 50px;
    box-sizing: border-box;
    word-break: break-word;
    word-wrap: break-word;
    color:white;
  }
  .aCourse img {
    width:700px;
    height: 400px;
    margin-bottom: 100px;
    margin-left: 30px;
    border-radius: 0px;
    margin-top: 13px;
  
  }

  .btn a{
    width: 160px;
    height: 50px;
    color: white;
    background-color: blue;
    font-size: 20px;
    font-family: Impact;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;

  }  



  #Ourcourses {
    padding: 50px;
    display:flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: white;
    
  }
  
  

  .Ourcourses h2{
    text-align: center;
    position: absolute;
    margin-top: auto;
    color: white;
    
  }
  .courses img {
    width:300px;
    height: 300px;
    margin-bottom: 20px;
    margin-left: 30px;
    border-radius: 7px;
    margin-top: 13px;
    margin-top: 150px;
  
  }




.step {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #101ee6;
  color: #e6b207;
  border-radius: 50%; 
  font-family: arial;
  font-size: 18px;
  margin-right: 120px;
  margin-left: 120px;
  margin-top: 45px;
 
}



.button-container {
  margin-top: 30px;
}

.action-button a{
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: rgb(25, 38, 218);
  color:#e4b312 ;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}

.action-button a:hover{
  color: rgb(25, 38, 218);
  background-color:  #e4b312 ;
}


footer {
  background-color: #020202;
  color: #fff;
  padding: 20px;
  font-size: 18px;
  font-family: arial;
  text-align: center;
 
}

.sec{
  display: flex;
  
}


